@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../../assets/body-background.jpg");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    border-radius: 5px;
    width: 1000px;
	max-width: 100%;
    background-color: #fff;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header {
	align-self: flex-start;
	margin-bottom: 40px;
}

.header text {
	opacity: 0.7;
}

.form {
	padding: 30px 40px;	
	width: 60%;
}

.form-control {
	padding-bottom: 5px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight:600;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: -10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #234299;
	border: 2px solid #4446ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	cursor: pointer;
}

.form button:hover {
	opacity: 0.9;
}

#aceiteLGPD {
	cursor: pointer;
	margin-top: 5px;
}

.lgpd-span {
	font-size: 0.9em;
	position: absolute;
	
	margin-left: 5px;
	opacity: 0.7;
}

.add-hobby i {
	font-size: 1.2em;
	border-radius: 2px;
	
	background-color: rgb(209, 209, 209);
}

.add-hobby i:hover {
	opacity: 0.7;
	cursor: pointer;
}

.hobby {
	margin-bottom: 10px;
}
